$sidebar-collapsed-width: 60px;
$sidebar-expanded-width: 250px;

.sidebar {
  height: 100vh;
  width: $sidebar-collapsed-width;
  transition: width 0.3s;
  background-color: #212529;
  color: #fff;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
  overflow: hidden;
}

.expanded {
  width: $sidebar-expanded-width;
}

/* Logo */
.logoSection {
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 40px;
  color: #ffff;
}

.logoImg {
  width: 40px;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}

/* Navigation Items */
.navItem {
  padding: 10px 16px;
  display: flex;
  align-items: center;
  color: #adb5bd;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;

  svg {
    margin-right: 12px;
    width: 18px;
    height: 18px;
  }

  &:hover,
  &.active {
    background-color: #343a40;
    color: #fff;
  }
}

/* When sidebar is collapsed */
.sidebar:not(.expanded) .navItem {
  justify-content: center;
  padding: 10px;
  text-align: center;

  svg {
    margin: 0;
  }
}

/* Logout */
.logout {
  margin-top: auto;
}

/* Toggle Button */
.toggleIcon {
  padding: 10px;
  text-align: end;
  font-size: 24px;
  color: #adb5bd;
  transition: color 0.3s;

  &:hover {
    color: #fff;
  }
}
